/*
 * Filename:    style.css
 * Author:      Andrew Laing
 * Email:       parisianconnections@gmail.com
 * Date:        29/01/2020.
 * Description: The main CSS file used to style the 'Tell the World' website.
 */

.comment-panel {
  display: none;
}

.user-reply-section {
  margin: 20px; 
  display: none;
}

.user-reply-section textarea {
  margin-bottom: 10px;
  box-sizing: border-box;
}

.user-comment-section {
  margin: 20px; 
  background-color: white; 
  display: none;
}

.user-comment-details {
  margin-left: 20px; 
  padding-top: 20px;
}

.user-comment-details a {
  font-weight: bold; 
  padding-right: 20px;
}

.user-comment-text {
  margin-left: 20px; 
  padding-bottom:20px;
}


