/*
 * Filename:    style.css
 * Author:      Andrew Laing
 * Email:       parisianconnections@gmail.com
 * Date:        11/11/2019.
 * Description: The main CSS file used to style the 'Tell the World' website.
 */

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  background-image: url('../imgs/bgimage.jpg'); 
}

.header {
    position: relative;
	color:#000;
    /* Used to make text more visible against background image when it is resized */             
    text-shadow: -2px 0 rgba(255, 255, 255, 0.4), 
                  0 2px rgba(255, 255, 255, 0.4), 
                  2px 0 rgba(255, 255, 255, 0.4), 
                  0 -2px rgba(255, 255, 255, 0.4);             
	background-color:#222222; 
	padding: 20px;
    text-align: center;
}


.jumbotron {
    background-image: url('../imgs/todayIHave.png');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.jumbotron h1 {
    padding: 10% 0% 3% 0%;
}

.jumbotron span {
    font-size: 1.5em;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
}

.img-wrapper img {
    width: 100%;
}


#title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px;
  padding-top: 20px;
}


#title img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}


.navbar {
  margin: 0px;
  margin-bottom: 0px;
  text-shadow: 0px 0px 11px rgba(232,0,0,0.5);
}

.dropdown-menu {
    padding: 5px;
}


.dropdown-menu-item {
    padding: 5px;
    text-align: center;
}


.container-fluid {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
}


.main-content {
  min-height: 550px;
}


.col {
  margin:0px;
	padding: 0px;
}


.row {
  margin:0px;
}


.content {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}


.align-panel-text-right {
  text-align: right;
}

.footer {
    margin: 0px;
    overflow-y: auto;
    position: relative;
    clear: both;
    margin: 0px;
} 

.footer h1 {
    padding-top: 10px;
	padding-left: 20px;
}

.footer p {
    color: #32CD32;
	padding-left:20px;
} 


.footerDivs {
    color:#32CD32; 
    padding-bottom: 20px;
	background-color:#222222; 
	margin:0;
}


.form-group {
    text-align: left;
}

.modal-header, h4, .close {
  background-color: #5CB85C;
  color: #FFF !important;
  text-align: center;
  font-size: 30px;
}

.tagDetails {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  padding-top: 0px;
  background-color: #FFF;
}


#paginationDiv {
  padding-right: 60px;
  /*background-color: #FFF;*/
}

.login-modal-header {
  padding:15px 50px;
}

.addUpdate-modal-header {
  padding:15px 50px;
} 


.login-modal-body {
  padding:40px 50px;
}

.addUpdate-modal-body {
  padding:40px 50px;
}

.addUpdate-modal-body #tagDiv {
  font-size: 1.3em;
}


.modal-footer {
  background-color: #F9F9F9;
}


.btn-icon {
	position:relative;
	padding:0px;
	color:#FFF;
	padding:0px;
	height:40px;
	width:40px;
	font-size:24px;
	font-weight: bold;
}


.btn-facebook {
	background-color:#3B5997;
	border-color:rgba(0,0,0,0.4);
}


.btn-facebook:hover {
	background-color:#2D4373;
	border-color:rgba(0,0,0,0.4);
}


.btn-twitter{
	background-color:#55ACEF;
	border-color:rgba(0,0,0,0.4);
}


.btn-twitter:hover{
	background-color:#2795E7;
	border-color:rgba(0,0,0,0.4);
}


.btn-info:hover {
  background-color: #3155FF;
}


.btn-cancel {
  margin-top: 30px;
  width: 100%;
  background-color: #FFAD99;
  height: 50px;
  font-size: 20px;
}


.btn-cancel:hover {
  background-color: #FF5C88;
}


/* <hr> is not defined as a horizontal line in HTML5
 * so this allows one to be included if necessary */
hr {
  display: block;
  position: relative;
  padding: 0%;
  margin: auto;
  margin-top: 16px; /* added */
  margin-bottom: 16px; /* added */
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border:none;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}


/* Styling for the input forms */
.inputLabel {
  min-width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;   
}

.inputField {
  min-width: 350px;
  display: inline-block;
  margin: 0%;
}

.inputHeaders {
  min-width: 100px;
  margin-left: 30px;
}


/* -------------------------------------------------------- */
/* Styling for the tags typeahead in the addNewUpdate modal */
/* -------------------------------------------------------- */
.tt-input, 
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 1.3em;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input { 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { 
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { 
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}
