{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 
{% block headertitle1 %}About Us{% endblock headertitle1 %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     about.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 27/01/2020
 * Description:  Template for the about page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}

<div class="container-fluid main-content"> 
  <div class="container">  
    <div class="row white-inner-container">
        <article>
            <header>
              <h1>About us</h1>
            </header>
            
            <br />
            <p>Placeholder text.</p> 

            <br />
          </article>   
    </div>       
  </div>      {# END OF ROW #} 
</div>        {# END OF CONTAINER-FLUID #} 
{% endblock %}