{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 
{% block headertitle1 %}Acceptable Usage Policy{% endblock headertitle1 %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     acceptableusage.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 27/01/2020
 * Description:  Template for the acceptabel usage policy page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}

<div class="container-fluid main-content"> 
  <div class="container">  
    <div class="row white-inner-container">
        <article>
            <header>
              <h1>Website Acceptable Usage Policy</h1>
            </header>
            
            <br />
            <p>This acceptable use policy sets out the terms between you and us under which you may access our website www.telltheworld.com and, where you are a member or guest of Tell the World (TTW), use the services which are available via our site. This acceptable use policy applies to all members, guests, and other visitors to our website.</p>
            <p>Your use of our site means that you accept, and agree to abide by, all the policies in this acceptable use policy, which supplement the website use agreement. If you are invited to become a member or guest of the TTW you will be required to accept this acceptable use policy as part of the application process.</p>
            <p>This policy was first published on 24 January 2020.</p>
            
            <h2>Prohibited Uses</h2>
            <p>You may only use our site for lawful purposes and according to our policies, which may be updated from time to time. You may not use our site:</p>
            <ul>
              <li class="indented-list-item">(a) In any way that breaches any applicable local, national or international law or regulation.</li>
              <li class="indented-list-item">(b) In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.</li>
              <li class="indented-list-item">(c) For the purpose of harming or attempting to harm minors in any way.</li>
              <li class="indented-list-item">(d) To send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards (see below).</li>
              <li class="indented-list-item">(e) To transmit, or procure the sending of any unsolicited or unauthorised advertising, promotional material, or any other form of similar solicitation (spam).</li>
              <li class="indented-list-item">(f) To knowingly transmit, send, or upload material containing viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
              <li class="indented-list-item">(g) In any way that is in breach of our terms of website usage or membership terms.</li>
            </ul>
            
            <p>You also agree:</p>
            <ul>
              <li class="indented-list-item">(a) Not to reproduce, duplicate, copy or re-sell any part of our site in contravention of the provisions of the website use agreement.</li>
              <li class="indented-list-item">(b) Not to access without authority, interfere with, damage or disrupt:</p>
              <li class="double-indented-list-item">any part of our site</li>
              <li class="double-indented-list-item">any equipment or network on which our site is stored</li>
              <li class="double-indented-list-item">any software used in the provision of our site</li>
              <li class="double-indented-list-item">any equipment or network or software owned or used by any third party.</li>
            </ul>

            <h2>Interactive Services</h2>
            <p>We may from time to time provide interactive services on our site, including, without limitation:</p>
            <ul>
              <li class="indented-list-item">(a) Bulletin boards</li>
              <li class="indented-list-item">(b) Forums</li>
              <li class="indented-list-item">(c) Blogs</li>
              <li class="indented-list-item">(d) Wikis</li>
              <li class="indented-list-item">(e) Email</li>
              <li class="indented-list-item">(f) Interactive services.</li>
            </ul>

            <p>Where we do provide any interactive service, we will provide clear information to you about the kind of service offered, if it is moderated and what form of moderation is used (including whether it is human or automated).</p>
            <p>We will do our best to assess any possible risks to users from third parties when they use any interactive service provided on our site, and we will decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of those risks. However, we are under no obligation to oversee, monitor or moderate any interactive service we provide on our site, and we expressly exclude our liability for any loss or damage arising from the use of any interactive service by a user in contravention of our content standards, whether the service is moderated or not.</p>
            <p>The use of any of our interactive services by anybody who is under the age of 18 or not a current member or guest of our website is strictly prohibited.</p>
            <p>Where we do moderate an interactive service, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise.</p>
            
            <h2>Using Information about Other Members</h2>
            <p>Our site enables members to view each other's posted information and to share other personal information via interactive services.</p>
            <p>You agree that you will only use other members' personal information published on the site in accordance with the applicable laws and regulations (including, without limitation, data protection laws) and, without limitation to the other provisions of this acceptable use policy and the website use agreement that you will only use other members' personal information for lawful purposes relating to our online service or such other purposes that the other member concerned expressly permits.</p>
            
            <h2>Content Standards</h2>
            <p>These content standards apply to any and all material which you contribute to our site (contributions), and to any interactive services associated with it.</p>
            <p>You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any contribution as well as to its whole.</p>
            <p>Contributions must:</p>
            <ul>
              <li class="indented-list-item">(a) Be accurate (where they state facts).</li>
              <li class="indented-list-item">(b) Be genuinely held (where they state opinions).</li>
              <li class="indented-list-item">(c) Comply with applicable law in the UK and in any country from which they are posted.</li>
            </ul>

            <p>Contributions must not:</p>
            <ul>
              <li class="indented-list-item">(a) Contain material which is defamatory of any person.</li>
              <li class="indented-list-item">(b) Contain any material which is obscene, offensive, hateful or inflammatory.</li>
              <li class="indented-list-item">(c) Promote sexually explicit material.</li>
              <li class="indented-list-item">(d) Promote violence.</li>
              <li class="indented-list-item">(e) Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
              <li class="indented-list-item">(f) Infringe any copyright, database right or trade mark of any other person.</li>
              <li class="indented-list-item">(g) Be likely to deceive any person.</li>
              <li class="indented-list-item">(h) Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence.</li>
              <li class="indented-list-item">(i) Promote any illegal activity.</li>
              <li class="indented-list-item">(j) Be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety.</li>
              <li class="indented-list-item">(k) Be likely to harass, upset, embarrass, alarm or annoy any other person.</li>
              <li class="indented-list-item">(l) Be used to impersonate any person, or to misrepresent your identity or affiliation with any person.</li>
              <li class="indented-list-item">(m) Give the impression that they emanate from us, if this is not the case.</li>
              <li class="indented-list-item">(n) Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</li>
            </ul>

            <h2>Your Content</h2>
            <p>We are entitled to delete any content you post on the website at any time and without notice to you. You should not rely on our system as a backup for you and you should keep backups of any content that you may need to use in the future. We are not liable if you are unable to retrieve your content from our systems at any time for whatever reason.</p>
            
            <h2>Suspension and Termination</h2>
            <p>We will determine, in our discretion, whether there has been a breach of this acceptable use policy through your use of our site. When a breach of this policy has occurred, we may take such action as we deem appropriate.</p>
            <p>Failure to comply with this acceptable use policy constitutes a material breach of the website use agreement upon which you are permitted to use our site and access our services, and may result in our taking all or any of the following actions:</p>
            <ul>
              <li class="indented-list-item">(a) Immediate, temporary or permanent withdrawal of your right to use our site or some or all of the services available through our site.</li>
              <li class="indented-list-item">(b) Immediate, temporary or permanent removal of any posting or material uploaded by you to our site.</li>
              <li class="indented-list-item">(c) Issue of a warning to you.</li>
              <li class="indented-list-item">(d) Immediate, temporary or permanent termination of your membership of our online resources</li>
              <li class="indented-list-item">(e) Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.</li>
              <li class="indented-list-item">(f) Further legal action against you.</li>
              <li class="indented-list-item">(g) Disclosure of such information to law enforcement authorities and, where appropriate in connection with a claim for breach of copyright, to the lawyers acting on behalf of the owner of the materials concerned as we reasonably feel is necessary.</li>
            </ul>
            <p>We exclude liability for actions taken in response to breaches of this acceptable use policy. The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate.</p>
            
            <h2>Changes to the Acceptable Use Policy</h2>
            <p>We may revise this acceptable use policy at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are legally binding on you. Some of the provisions contained in this acceptable use policy may also be superseded by provisions or notices published elsewhere on our site.</p>
            
            <h2>General</h2>
            <p>Any failure or delay by us in enforcing compliance with this acceptable use policy shall not be a waiver of that or any other provision of these terms, membership terms or acceptable use policy.</p>
            <p>If any provision of this acceptable use policy is unlawful, void or for any reason unenforceable then that provision shall be deemed sever-able and shall not affect the validity and enforceability of the remaining terms.</p>
            <p>The headings in this acceptable use policy are for reference purposes only and do not limit the scope of extent of the membership terms.</p>
            <p>The provisions of this section will remain in force after termination.</p>
          </article>   
    </div>       
  </div>        {# END OF ROW #} 
</div>          {# END OF CONTAINER-FLUID #}
{% endblock %}