{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 
{% block headertitle1 %}Account Deleted{% endblock headertitle1 %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     accountDeleted.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 27/01/2020
 * Description:  Template for the Account Deleted page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}

<style type="text/css">
    .navbar-right {
        display: none;
    }
</style>

<div class="container-fluid main-content">
  <div class="container">
    <h2>Your account has been successfully deleted.</h2>
  </div> 
</div>  
{% endblock %}