{% comment %} 
 * Filename:     base.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 12/06/2020
 * Description:  Main base template for site pages.
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Default title{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}  
  {# Stylesheets and JS for Bootstrap #} 
  <link rel="stylesheet" href="{% static 'tellings/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'tellings/css/bootstrap-tagsinput.css' %}">
  <script type="text/javascript" src="{% static 'tellings/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'tellings/js/jquery.redirect.js' %}"></script>
  <script type="text/javascript" src="{% static 'tellings/js/bootstrap.min.js' %}"></script> 
  <script type="text/javascript" src="{% static 'tellings/js/bootstrap-tagsinput.js' %}"></script>
  <script type="text/javascript" src="{% static 'tellings/js/typeahead.bundle.js' %}"></script>

  {# My JQuery scripts #} 
  <script type="text/javascript" src="{% static 'tellings/js/JQScripts.js' %}"></script>

  <style>
    body { 
      background-image: url("{% static 'tellings/imgs/bgimage.jpg' %}");
    }
  </style>

  {# My stylesheet #} 
  <link rel="stylesheet" href="{% static 'tellings/css/style.css' %}">

</head> 

<body>
  <header class="header">
    {# Page title #} 
    <div class="jumbotron jumbotron-fluid">
      <h1>Tell the World</h1>
      <p>LET THE PEOPLE KNOW</p>
    </div>

    {# Navigation bar #} 
    <nav class="navbar navbar-inverse">
      {% include "tellings/includes/navbar.html" %}
    </nav> 
  </header>

  {# Div for holding dynamically added modals. (if necessary) #} 
  <div id="modal_container"></div>

  <noscript>
    <style type="text/css">
      .main-content {
        display: none;
      }
    </style>
    <div class="noscriptmsg">
      You must have JavaScript enabled to be able to use the full functionality of this website.
      Here are <a href="https://www.enable-javascript.com/">
      instructions for how to enable JavaScript in your web browser
      </a>.
    </div>
  </noscript>

  
  {% block content %}{% endblock %}

  {% block pagination %}
    {% if is_paginated %}
    {% load my_tags %}
    <div id="paginationDiv">
      <ul class="pagination pull-right">
        {% if page_obj.has_previous %}
        <li><a href="?{% param_replace page=page_obj.previous_page_number %}">&#60;</a></li>            
        {% else %}
        <li class="disabled"><span>&#60;</span></li>
        {% endif %}

        {# Show link to first page #}
        {% if page_obj.number > 4 %}
        <li><a href="?{% param_replace page=1 %}">{{ 1 }}</a></li>
        <li><a href="javascript: void(0);">...</a></li>
        {% elif page_obj.number == 4 %}
        <li><a href="?{% param_replace page=1 %}">{{ 1 }}</a></li>
        {% endif %}

        {# Only show the 3 page numbers before and after the current one #}
        {% for i in paginator.page_range %}
          {% if i <= page_obj.number|add:2 and i >= page_obj.number|add:-2 %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?{% param_replace page=i %}">{{ i }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}

        {# Show link to last page #}
        {% if page_obj.number < paginator.num_pages|add:-3 %}
        <li><a href="javascript: void(0);">...</a></li>
        <li><a href="?{% param_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a></li>
        {% elif page_obj.number < paginator.num_pages|add:-2 %}
        <li><a href="?{% param_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li><a href="?{% param_replace page=page_obj.next_page_number %}">&#62;</a></li>
        {% else %}
        <li class="disabled"><span>&#62;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  {% endblock %} 
  

  {# FOOTER SECTION #} 
  <footer class="footer footerDivs">
    {% include "tellings/includes/footerContents.html" %}
  </footer>
</body>

</html>