{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %}
{% block headertitle1 %}Change Password{% endblock headertitle1 %}
{% comment %}
 * -------------------------------------------------------------------------------
 * Filename:     changePassword.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 13/09/2019
 * Description:  Template for the Change Password page.
 * -------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<!-- Main content. -->
<div class="container-fluid main-content">
    <div class="container">
        <h2>Change My Password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            {% for field in form %}
              <br />
              <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div>
                  <input type="password" class="form-control input-lg"
                    name="{{ field.name }}"
                    id="id_{{ field.name }}"
                    value="" > 
                    <p class="help-text">{{ field.help_text }} </p>
                </div>
            {% endfor %}
            </div>

            {% include "tellings/includes/formErrors.html" %}

            <br />
            <button type="submit" class="btn btn-success btn-block btn-lg">SAVE CHANGES</button>
        </form>
        <br />
        <a href="{% url 'tellings:index' %}" class="btn btn-danger btn-block btn-lg">CANCEL</a> 
        <br /><br />

        {% include "tellings/includes/JSMessagePopup.html" %}

    </div>    <!-- END OF CONTAINER -->
</div>      <!-- END OF CONTAINER-FLUID -->
{% endblock %}