{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %}

{% comment %}
 * -------------------------------------------------------------------------------
 * Filename:     changeUserDetails.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 14/04/2020
 * Description:  Template for the Change User Details page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}

<div class="container-fluid main-content">
  <main class="container">
    <header>
      <h1>Change My Details</h1>
    </header>
    
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {% for field in form %}
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div>
          <input type="text" class="form-control input-lg"
                 name="{{ field.name }}"
                 id="id_{{ field.name }}"
                 value="{{ field.value }}" > 
            <p class="help-text">{{ field.help_text }} </p>
        </div>
        {% endfor %}
      </div>

      {% include "tellings/includes/formErrors.html" %}

      <div>
        <button type="submit" class="btn btn-success btn-block btn-lg">SAVE CHANGES</button>
      </div>
    </form>

    <div>
      <a href="{% url 'tellings:index' %}" class="btn btn-danger btn-block btn-lg">CANCEL</a> 
    </div>

    {% include "tellings/includes/JSMessagePopup.html" %}

  </main>   
</div> 
{% endblock %}