{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     errorPage.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 14/04/2020
 * Description:  Template for the error page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}
<div class="container-fluid main-content"> 
  <div class="container">  
    <main class="row white-inner-container">
      <header>
        <h1>Error</h1>
      </header>

      <p>Oops! Something went wrong when processing your data.</p>
      <p>Please contact the site's administrator at <a href="mailto:admin@tellings.com?Subject=Website%20Error" target="_top">admin@tellings.com</a> and let us know as soon as possible</p>
    </main>       
  </div>
</div>
{% endblock %}