{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     index.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 14/04/2020
 * Description:  Template for the site's home page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% load static %}

{% block content %}
<main class="img-wrapper"> 
  <img class="img-responsive" id="homepage-image" src="{% static 'tellings/imgs/ttwLogo.jpg' %}" title="" alt="">
</main>    
{% endblock %}