{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 
{% block headertitle1 %}Tell the World{% endblock headertitle1 %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     index.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 29/01/2020
 * Description:  Template for the site's home page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% load static %}

{% block content %}

<div class="img-wrapper"> 
    <img class="img-responsive" src="{% static 'tellings/imgs/ttwLogo.jpg' %}" title="" alt="">
</div>    
{% endblock %}