{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     loginpage.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 14/04/2020
 * Description:  Template for the login page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}

{# Hide the right navbar #} 
<style type="text/css">
  .navbar-right {
      display: none;
  }
</style>

<div class="container-fluid main-content"> 
  <main class="container">
    <header>
      <h1>Login to your account</h1>
    </header>
    
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {% for field in form %}
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
          <div>
            <input 
            {% if field.name == "username" %}
                   type="text"
            {% else %}
                   type="password" 
            {% endif %}
                   class="form-control input-lg"
                   name="{{ field.name }}"
                   id="id_{{ field.name }}"
                   value="" > 
            <p class="help-text">{{ field.help_text }} </p>
          </div>
      {% endfor %}
      </div>

      {% include "tellings/includes/formErrors.html" %}

      <div>
        <button type="submit" class="btn btn-success btn-block btn-lg">Login</button>
      </div>
    </form>

  </main>
</div>  
{% endblock %}