{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 
{% block headertitle1 %}Mission Statement{% endblock headertitle1 %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     missionstatement.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 25/01/2020
 * Description:  Template for the Mission Statement page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}
<!-- Main content. -->
<div class="container-fluid main-content"> 
  <div class="container">  
    <div class="row tagDetails">
        <article>
            <header>
              <h1>Mission Statement</h1>
            </header>
            
            <br />
            <p>Placeholder text.</p> 

            <br />
          </article>   
    </div>       
  </div>    <!-- END OF ROW -->
</div>      <!-- END OF CONTAINER-FLUID -->
{% endblock %}