{% extends 'tellings/base.html' %}
{% block title %}Today I Have ... My Updates{% endblock title %} 
{% block headertitle1 %}My Updates{% endblock headertitle1 %} 
{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     myupdates.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 02/09/2019
 * Description:  Template for the MyUpdates page.
 * -------------------------------------------------------------------------------
{% endcomment %}
{% block content %}

<!-- Main content. -->
<div class="container-fluid main-content"> 
  <div class="container currentUserUpdates" id="userUpdates">
      <!-- Include the page content HTML -->
      {{contents|safe}}
  </div>    <!-- END OF CONTAINER -->
</div>      <!-- END OF CONTAINER-FLUID -->
{% endblock %}