{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     privacypolicy.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 27/01/2020
 * Description:  Template for the privacy policy page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}

<div class="container-fluid main-content"> 
  <div class="container">  
    <div class="row white-inner-container">
        <article>
            <header>
              <h1>Privacy Policy for TTW Ltd</h1>
            </header>
            
            <br />
            <p>TTW Ltd is committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner.</p> 
            <p>This policy outlines how we aim to achieve this and includes all the information which we collect from you.</p>    
            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us at: info@telltheworld.com</p>
          
            <h2>Definition of Personal Data</h2>
            <p>Personal Data means any data that relates to an identifiable person who can be directly/indirectly identified from that data. In this case, it means personal data that you give to us via our site.</p>
            <p>By providing your personal data, you agree that we can use your personal data in accordance with this policy.</p>
            <p>Ensure you understand this policy in its entirety and take your time to read it.</p> 
            
            <h2>Who are we?</h2>
            <p>TTW Ltd is a social media company based in Liverpool. Our registered address is:</p> 
            <ul>
              <li class="indented-list-item">1-3 Rumford Street,</li>
              <li class="indented-list-item">Liverpool L2 8SZ,</li>
              <li class="indented-list-item">Merseyside,</li>
              <li class="indented-list-item">United Kingdom.</li>
            </ul>

            <h2>How do we collect information from you?</h2>
            <p>We collect information from you:</p>
            <ul>
              <li class="indented-list-item">when you create an account on our website.</li>        
              <li class="indented-list-item">when you use our website.</li>  
              <li class="indented-list-item">when you send us emails.</li>        
            </ul>

            <h2>How is your information used?</h2>
            <p>Our use of your personal data will always have a lawful basis, either because you have consented to our use of your personal data (e.g. by agreeing to our terms and conditions), or because it is in our legitimate interests.</p>
            <p>We require the information outlined in the previous section to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
            <ul>
              <li class="indented-list-item">Internal record keeping.</li>
              <li class="indented-list-item">To send you service emails.</li>
              <li class="indented-list-item">To improve our products and services.</li>
              <li class="indented-list-item">We may use the information to customise the website according to your interests.</li>      
            </ul>
            
            <h2>Who has access to your information?</h2>
            <p>We will not sell, distribute, or lease your personal information to third parties. Any personal information we request from you will be safeguarded under current legislation.</p>
            <p>We will only share your information with companies if necessary to deliver services on our behalf.</p>
            <p>You may choose to restrict the collection or use of your personal information at any point.  Please refer to the Your Choices section of this Privacy Policy for details.</p>
            
            <h2>How and where do we store data? </h2>
            <p>We only keep your personal data for as long as we need to in order to use it as described in this privacy policy, and/or for as long as we have your permission to keep it.</p>
            <p>Your data will only be stored in the UK. </p>
            <p>Data is stored securely in data centres managed by Rackspace.</p>

            <h2>Log Files</h2>
            <p>TTW Ltd follows a standard procedure of using log files. These files log visitors when they visit websites. </p>
            <p>All hosting companies do this as a part of their service analytics.</p>
            <p>The information collected by log files may include Internet protocol addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks.</p>
            <p>These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>          
            
            <h2>Profiling</h2>
            <p>We may analyse your personal information to create a profile of your interests and preferences so that we can contact you with information relevant to you. We may make use of additional information about you when it is available from external sources to help us do this effectively.</p>
       
            <h2>Your choices</h2>
            <p>We will not contact you for marketing purposes by email, phone or text message unless you have given your prior consent. We will not pass your details to any third parties for marketing purposes unless you have expressly permitted us to. Furthermore, you can change your marketing preferences at any time by contacting us by email at info@telltheworld.com.</p>
            <p>You have a right to request a copy of the personal information that TTW Ltd holds about you and have any inaccuracies corrected. Any such requests should be made to this email address: info@telltheworld.com.</p>
            <p>You have the right to withdraw your consent to us using your personal data at any time, and to request that we delete it. We do not keep your personal data for any longer than is necessary in light of the reason(s) for which it was first collected.</p>
       
            <h2>Security</h2>
            <p>Data security is very important to us, and to protect your data we have taken suitable measures to safeguard and secure data collected through our Site.</p>
       
            <h2>Use of &apos;cookies&apos;</h2>
            <p>Like many other websites, we use cookies. We use them to help you personalise your online experience.</p>
            <p>A cookie is a text file, placed on your hard disk by a web page server, which allows the website to recognise you when you visit. Cookies only collect data about browsing actions and patterns, and do not identify you as an individual.</p>
            <p>We use cookies for the following purposes </p>
            <ul>
              <li class="indented-list-item">Authentication, personalisation and security: cookies help us verify your account and device and determine when you log in, so we can make it easier for you to access the services and provide the appropriate experiences and features. We also use cookies to help prevent fraudulent use of login credentials.</li>
              <li class="indented-list-item">Performance and analytics: cookies help us analyse how the services are being accessed and used, and enable us to track the performance of the services. For example, we use cookies to determine if you have viewed a page or opened a link. This helps us provide you with information that you find interesting. We also use cookies to provide insights regarding end users and the websites&apos; performance, such as page views, device information, visitor IP addresses, and referral sites.</li>
            </ul>
            
            <p>Opting Out: You can set your browser to not accept cookies, but this may limit your ability to use our services.</p>
            <p>Our Site may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them.</p>

       
            <h2>What happens if our business changes hands?</h2>
            <p>We may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of our business. Any personal data that you have provided will, where it is relevant to any part of our business that is being transferred, be transferred along with that part. The new owner or newly controlling party will, under the terms of this Privacy Policy, be permitted to use that data only for the same purposes for which it was originally collected by us.</p>
            <p>In the event that any of your data is to be transferred in such a manner, you will be contacted in advance and informed of the changes.</p>
            <p>In addition to providing you with more customised service, we may, as permitted by applicable law, share your information with our company's affiliates to support operations, such as to perform analytics, tailor marketing to you, support a loyalty program that you have chosen to participate in, and improve services.</p>
            <p>For more information, please feel free to contact us at: info@telltheworld.com</p>

      
            <h2>Changes to this statement</h2>
            <p>TTW Ltd will occasionally update this Privacy Policy to reflect company and customer feedback. TTW Ltd encourages you to periodically review this statement to be informed of how TTW Ltd is protecting your information. This policy was last updated on 25 January 2020.</p>    
      
            <h2>Contact Information</h2>
            <p>TTW Ltd welcomes your comments regarding this Privacy Policy. If you believe that TTW Ltd has not adhered to this Privacy Policy, please contact TTW Ltd at info@telltheworld.com. We will aim to use commercially reasonable efforts to promptly determine and remedy the problem.</p>
            <br />
          </article>   
    </div>       
  </div>              {# END OF ROW #}
</div>                {# END OF CONTAINER-FLUID #}
{% endblock %}