{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 
{% block headertitle1 %}Sign Up{% endblock headertitle1 %} 
{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     signup.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 16/12/2019
 * Description:  Template for the SignUp page.
 * -------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<!-- Main content. -->
<div class="container-fluid main-content">
    <div class="container">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            {% for field in form %}
              <br />
              <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div>

                  {% if field.name == "username" %}
                    <input type="text" class="form-control input-lg"
                  {% elif field.name == "email" %}
                    <input type="text" class="form-control input-lg"
                  {% else %}
                    <input type="password" class="form-control input-lg"
                  {% endif %}

                    name="{{ field.name }}"
                    id="id_{{ field.name }}"

                  {% if field.name == "username" %}
                    value="" autofocus>
                  {% else %}
                    value="" >
                  {% endif %}

                    <p class="help-text">{{ field.help_text }} </p>
                </div>
            {% endfor %}
            </div>

            {% include "tellings/includes/formErrors.html" %}

            <br />
            <button type="submit" class="btn btn-success btn-block btn-lg">SAVE CHANGES</button>
        </form>
        <br />
        <a href="{% url 'tellings:index' %}" class="btn btn-danger btn-block btn-lg">CANCEL</a> 
        <br /><br />

        {% include "tellings/includes/JSMessagePopup.html" %}

    </div>    <!-- END OF CONTAINER -->
</div>      <!-- END OF CONTAINER-FLUID -->
{% endblock %}