{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     signup.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 19/05/2020
 * Description:  Template for the SignUp page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}

<div class="container-fluid main-content">
  <main class="container">
    <header>
      <h1>Sign Up</h1>
    </header>
    
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {% for field in form %}
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div>
          <input 
            {% if field.name == "password1" or field.name == "password2" %}
                  type="password" class="form-control input-lg"
            {% else %}
                  type="text" class="form-control input-lg"
            {% endif %}
                  name="{{ field.name }}"
                  id="id_{{ field.name }}"

            {% if field.name == "username" %}
                  value="{{ field.value|default_if_none:'' }}" autofocus
            {% else %}
                  value="{{ field.value|default_if_none:'' }}"
            {% endif %}
          >
          <p class="help-text">{{ field.help_text }} </p>
        </div>
        {% endfor %}

        <p><input type="checkbox" name="terms" required> I have read and accept the <a href="{% url 'tellings:termsandconditions' %}" target="_blank">Terms and Conditions</a>.</p>
        <p><input type="checkbox" name="usage" required> I have read and agree to abide by the <a href="{% url 'tellings:acceptableusage' %}" target="_blank">Acceptable Usage Policy</a>.</p>
      </div>

      {% include "tellings/includes/formErrors.html" %}
      
      <div>
        <button type="submit" class="btn btn-success btn-block btn-lg">SAVE CHANGES</button>
      </div>  
    </form>

    <div>
      <a href="{% url 'tellings:index' %}" class="btn btn-danger btn-block btn-lg">CANCEL</a> 
    </div>>

  </main> 
</div>  
{% endblock %}