{% extends 'tellings/base.html' %}
{% block title %}Tell the World{% endblock title %} 

{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     tag_list.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 22/06/2020
 * Description:  Template used for the Tags page.
 * -------------------------------------------------------------------------------
{% endcomment %}

{% block content %}

<div class="container-fluid main-content"> 
  <main class="container">
    <header>
      <h1>Search for posts by tag</h1>
    </header>
    
    <div class="row white-inner-container">

      <div class="glossary-search">       
        <div class="input-group col-sm-12 align-panel-text-right">
            <input type="text" id="search-field" size="17" maxlength="15" class="form-control input-md" placeholder="Search" />
            <button id="glossary-search-btn" class="btn btn-info" type="button">?</button>
        </div>
      </div>

      {# Script used for search tag suggestions and search field submit #}
      {# Placed here because urls loaded from static #}

      {% load static %}
      <script>
        
        $.perform_search = function() {
          var inputVal = $("#search-field").val();
          var searchURL = "{% url 'tellings:tags' %}?search=" + inputVal
          document.location.href = searchURL;
        };

        $("#search-field").on("keypress", function(e){
          if(e.which == 13){
            $.perform_search();
          }
        });

        $("#glossary-search-btn").on("click", function(e){
          $.perform_search();
        });

        var tagnames = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: {
            url: "{% static 'tellings/data/tagNames.json' %}",
            filter: function(list) {
              return $.map(list, function(tagname) {
                return { name: tagname }; });
            }
          }
        });

        tagnames.initialize();

        $('#search-field').typeahead(null, {
          name: 'name',
          displayKey: 'name',
          source: tagnames
        });
      </script>

      <div class="glossary-filter"> 
        {% if glossary_filter %}
        {% for glossary in glossary_filter %}
        <a class="btn btn-link" href="{% url 'tellings:tags' %}?search={{ glossary }}">{{ glossary }}</a>
        {% endfor %}
        {% endif %}
      </div>

    </div>

    <div class="row white-inner-container">

      {% if tag_list %}
        {% regroup tag_list by first_char as first_char_list %}
        {% for sort_by_first_char in first_char_list %}
        <article>
          <h2>{{ sort_by_first_char.grouper|title }}</h2>

          <div class="page-vertical-divider">
            <hr>
          </div>

          {% for item in sort_by_first_char.list %}
          <p>
            <a href="{% url 'tellings:newupdates' %}?tagName={{ item.tagName }}" name="{{ item.tagName }}">{{ item.tagName }}</a>
          </p>
          {% endfor %}
        </article>  
        {% endfor %}
      {% else %}
      <article>
        {% if search %}
        <h2>{{ search }}</h2>

        <div class="page-vertical-divider">
          <hr>
        </div>
        
        {% endif %}
        <p>No results found.</p>
      </article>
      {% endif %}  
    </div>  

    {% include "tellings/includes/pagination.html" %}
  </main>
</div>

{% endblock %}
