{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     JSMessagePopup.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 27/01/2020
 * Description:  This is used to create a JavaScript message popup.
 * -------------------------------------------------------------------------------
{% endcomment %} 
{% block messages %}
    {% if message %}
        <script>
            alert('{{ message }}');
        </script>            
    {% endif %}
{% endblock %}