{% comment %} 
 * -------------------------------------------------------------------------------
 * Filename:     login_modal.html
 * Author:       Andrew Laing
 * Email:        parisianconnections@gmail.com
 * Last updated: 27/01/2020
 * Description:  This is used to create the login modal.

 * Note:         Files which include this modal must also extend base.html.
 * -------------------------------------------------------------------------------
{% endcomment %} 

{% load static %}
{# START OF #loginModal #}
<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      {# MODAL HEADER #}
      <div class="modal-header login-modal-header">
        {# Close button #}
        <button type="button" class="close" data-dismiss="modal">&times;</button>  
        <h3>Login to your Account</h3>
      </div>

      {# MODAL BODY #}
      <div class="modal-body login-modal-body">
        <form role="form" name="frmLogin" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" 
                   name="username" placeholder="Enter username" maxlength="34">
            <br />
            
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" 
                   name="pwd" placeholder="Enter password" maxlength="50">
          </div>
          <div class="modal-login-btn">
            <br />
            <button type="submit" class="btn btn-success btn-block" name="LoginBtn" 
                    value="LoginBtn" onClick="return $.validate_login();">Login</button>
            <br />
          </div>
          <div class="modal-login-btn">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button> 
          </div>     
        </form>
      </div>

      {# MODAL FOOTER #}
      <div class="modal-footer">
        <p><a href="mailto:admin@tellings.com?Subject=Forgotten%20Password">Forgotten your Password?</a></p>
      </div>
    </div>        {# End of .modal-content #}
  </div>          {# End of .modal-dialog #}
</div>            {# End of #loginModal #}